header {
    font-size: 30px;
    color:red
}

body {
    background-color: aquamarine;
}

footer {
    font-size: 15px;
    color:red
}

h1 {
    color:brown;
    font-size: 50px;
}

img {
    width:50%;
    height:50%;
}

div {
    margin-top: 50px;
}